/* TEMP */

.primary-section > * {
  border: 1px solid red;
}

.primary-section div > *,
.secondary-section > *,
.secondary-section div > * {
  border: 1px solid red;
  height: 300px;
}

.feat-stories {
  height: 500px;
}

/* GENERAL */

body {
  background-color: #eee;;
}

.container-fluid {
  max-width: 1310px;
  background-color: white;
}

/* HEADER */

header {
  background-color: #f72210;
}

