/* TEMP */

.primary-section > * {
  border: 1px solid red;
}

.primary-section .row > *,
.secondary-section > *,
.secondary-section div > * {
  border: 1px solid red;
}

.feat-stories {
  background-color: aqua;
}

.feat-stories > * {
  background-color: lightblue;
}

/* GENERAL */

body {
  background-color: #eee;;
}

.container-fluid {
  max-width: 1310px;
  background-color: white;
}

.card-body {
  padding: 0;
}

.card-title-link-primary {
  color: #000;
}

/* HEADER */

header {
  background-color: #f72210;
}

